.md-layer-2-0-3 {
color: #ffffff !important;
 font-size: 1.83333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-2-0-4 {
color: #ffffff !important;
 font-size: 5.16666666667em;
 font-weight: 800;
 font-family: Open Sans;
}
.md-layer-2-0-5 {
color: #ffffff !important;
 font-size: 1.66666666667em;
 font-weight: 400;
 font-family: Open Sans;
}